<div class="card">
  <div class="card__body">
    <%= link_to article.title, root_path, class: :card__title%>
    <p class="card__summary">
      <%= article.text %>
    </p>
    <%= link_to "by #{article.user.nickname}", root_path, class: :card__user %>
  </div>
</div>